<div id="componentRenderContainer" style="border: 1px solid red; width: 400px; height: 100px;" {{did-insert this.renderComponent 'example-classic-component'}}>
  Classic component should be rendered inside this box  
</div>


{{!--
<div id="componentRenderContainer" style="border: 1px solid red; width: 400px; height: 100px;" {{did-insert this.renderComponent 'example-glimmer-component'}}>
  Glimmer component should be rendered inside this box  
</div>
--}}